.boxgroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}
div.box {
    border: 1px solid #aaa;
    background: #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    min-width: 10em;
}
div.box.button {
    cursor: pointer;
}
div.box.button:active {
    background: #ccc;
}
#token-entry {
    display: none;
}
#log pre {
    background: #eee;
    padding: 2px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid #aaa;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 40em;
}
.windowerror {
    background: rgb(255, 119, 119);
}