body {
    --text: #000;
    --page-background: #fff;
    --group-background: #ddd;
    --background: #bbb;
    --border: #888;
    --won-border: #797;
    --lost-border: #a66;
    --won-light: #aca;
    --lost-light: #caa;
    --won-dark: #252;
    --lost-dark: #522;
    --active-color: #08f;
    --won-background: var(--won-light);
    --lost-background: var(--lost-light);
}
body.flash {
    --text: #fff;
    --page-background: #000;
    --group-background: #222;
    --background: #444;
    --won-background: var(--won-dark);
    --lost-background: var(--lost-dark);
}
@media (prefers-color-scheme: dark) {
    body {
        --text: #fff;
        --page-background: #000;
        --group-background: #222;
        --background: #444;
        --won-background: var(--won-dark);
        --lost-background: var(--lost-dark);
    }
    body.flash {
        --text: #000;
        --page-background: #fff;
        --group-background: #ddd;
        --background: #bbb;
        --won-background: var(--won-light);
        --lost-background: var(--lost-light);
        }
}
#tournament-options {
    align-items: flex-start;
}
.tabs-content>.boxgroup {
    border-top: 1px solid var(--border);
}
.tabs-content:has(~.boxgroup) > .boxgroup {
    border-bottom: none;
    padding-bottom: 1.5em;
}
.boxgroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
    z-index: 1;
    position: relative;
    order: 1;
    flex-grow: 1;
    border-bottom: 1px solid var(--border);
    margin-top: -1px;
    padding: 5px;
    background: var(--group-background);
}
.boxgroup.shadow {
    background: none;
    border: none;
}
.box-button.toggle input,
.box-button.toggle input:not(:checked)~.if-unchecked,
.box-button.toggle input:checked~.if-checked {
    display: none;
}
div.reset {
    width: 100%;
    height: 1em;
    order: 10000;
}
.box.invisible.pre-sort {
    order: 1000;
}
.box.invisible {
    height: 0;
    visibility: hidden;
    order: 1000000;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none;
}
.box.click {
    cursor: pointer;
}
.box .side {
    display: flex;
    flex-direction: column;
}
.box .side ~ .side {
    align-items: flex-end;
}
.box:not(.vs) .side>.rank {
    font-size: 1.5em;
    flex-shrink: 0;
    min-width: 0;
}
.box {
    border: 1px solid var(--border);
    background: var(--background);
    border-radius: 10px;
    padding: 6px;
    margin: 4px;
    min-width: 20em;
    flex-basis: 20em;
    display: inline-flex;
    flex-grow: 1;
}
.box.not-cached {
    border-color: var(--lost-border);
}
.box.nostyle {
    background: none;
    border: none;
}
.box.active {
    outline: 4px solid var(--active-color);
}
.block {
    margin-bottom: 1em;
}
.winmix {
    background: linear-gradient(110deg, var(--won-background) var(--winmix), var(--lost-background) var(--winmix)) no-repeat;
    border-color: var(--border);
}
#spacer {
    height: 100vh;
}
#log-toggler {
    display: inline-block;
    height: 1em;
    background: var(--group-background);
    width: 1em;
    border-radius: .2em;
    margin: .5em;
}
#log-toggle {
    display: none;
}
#log-toggle:not(:checked)+#log {
    display: none;
}
#log pre {
    background: var(--background);
    padding: 2px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid var(--border);
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 40em;
}
.windowerror {
    background: rgb(255, 119, 119);
}
.spacer {
    flex-grow: 1;
    min-height: 0.5em;
}
html {
    scroll-behavior: smooth;
    background: var(--page-background);
}
body {
    scroll-behavior: smooth;
    padding-top: env(safe-area-inset-top, 0);
    padding-right: env(safe-area-inset-right, 0);
    padding-bottom: env(safe-area-inset-bottom, 0);
    padding-left: env(safe-area-inset-left, 0);
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--page-background);
    color: var(--text);
    font-size: 11pt;
}
.main {
    display: flex;
    flex-direction: column;
}
.tabs div.tabs-list {
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 0 5px;
    overflow-x: auto;
    position: relative;
    display: flex;
}
.tabs label:not(.selected) .matchplay-link {
    display: none;
}
.tabs .tabs-list label {
    opacity: 0.5;
    order: 0;
    margin-top: 1em;
    background-color: var(--group-background);
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: var(--border);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-size: 1.1em;
    padding-bottom: 1em;
    position: relative;
    z-index: 0;
}
.tabs .tabs-list label:not(.selected) {
    cursor: pointer;
}
.tabs .tabs-list label.selected {
    z-index: 2;
    opacity: 1;
}
.tabs .tabs-list label~label {
    margin-left: -1px;
}
.tabs .tabs-content>div {
    z-index: 1;
}
.tabs .tabs-content>div:not(.selected) {
    display: none;
}
.title span.rank {
    text-align: right;
}
span.rank {
    display: inline-block;
    min-width: 2em;
    font-size: smaller;
    font-style: normal;
}
#player-histories {
    padding-top: 1em;
}
.arena-name {
    font-style: italic;
}
.merged-tournaments {
    background: var(--background);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
div.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title.me {
    font-weight: bold;
}
div.players {
    margin-left: 0.5em;
}
#active-tournament-title:empty+.refresh {
    display: none;
}
.refresh {
    text-align: center;
    flex-shrink: 0;
    box-sizing: border-box;
    background: var(--group-background);
    display: inline-block;
    margin-left: .2em;
    margin-right: .2em;
    color: var(--active-color);
    cursor: pointer;
    font-weight: normal;
    white-space: nowrap;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid var(--border);
}
.refresh .text {
    display: inline-block;
    margin-left: .2em;
}
.refresh .circle {
    display: inline-block;
    transform: rotate(0deg);
    font-size: 1.1em;
    transform-origin: 50% 60%;
}
.refresh.timed .circle {
    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: 5s;
    transform: rotate(360deg);
}
h1,h2,h3 {
    padding-left: 5px;
}
h3.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 5;
    background: var(--page-background);
    padding-top: env(safe-area-inset-top, 0);
    padding-bottom: .1em;
}
#options {
    z-index: 10;
    margin-left: 5px;
}
#options>.items {
    float: left;
    height: 0;
    z-index: 10;
}
#options>.items>.items-group {
    background: var(--background);
    padding: 1px;
    border-radius: 0 11px 11px 11px;
}
#options>.items div.item:not(.active) {
    cursor: pointer;
}
#options>.items div.item {
    border-radius: 10px;
    background: var(--group-background);
    padding: .5em;
}
#options>.items div.item+div.item {
    margin-top: 1px;
}
#options>.items div.modes::before {
    content: '•';
    opacity: 0;
    width: 1em;
    display: inline-block;
    position: relative;
    left: -0.5em;
    transition-property: left, opacity;
    transition-duration: 0.3s;

}
#options>.items div.modes:hover::before,
#options>.items div.modes.active::before {
    opacity: 1;
    left: 0;
}

#options:not(.shown)>.items {
    visibility: hidden;
}
#options.shown .button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#options .button {
    clear: both;
    float: left;
    cursor: pointer;
    border-radius: 8px;
    background: var(--background);
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-size: 2em;
}
.hide {
    display: none !important;
}
#frenzy-countdown {
    display: flex;
    align-items: center;
}

#frenzy-countdown svg path {
    stroke: var(--active-color);
    stroke-width: 10px;
    fill: none;
    stroke-linecap: round;
}
#standings-table table {
    border-collapse: collapse;
}
#standings-table td:not(.has-text-align-left) {
    text-align: right;
}
#standings-table th,
#standings-table td {
    padding: 3px 6px;
    text-align: left;
}
#standings-table th {
    border-bottom: 1px solid var(--text);
    vertical-align: bottom;
    text-align: center;
}
#standings-table td:not(.wk)+td.wk {
    border-left: 1px solid var(--text);
}
#standings-table th {
    text-align: left;
}
#standings-table th:not(.vertical) {
    padding-top: 8em;
}
#standings-table th.vertical span {
    writing-mode: vertical-rl;
    white-space: nowrap;
}
#standings-table td.division {
    text-decoration: underline;
    cursor: pointer;
}
#filter {
    border-radius: 4px;
    min-width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 5px;
    margin-bottom: 0.5em;
}
#sort {
    order: 100000;
}
.boxgroup::before {
    content: " ";
    flex-grow: 1;
    width: 100%;
    display: block;
    order: 10000000;
}
.box.box-button {
    display: block;
}
.box-button>div {
    display: flex;
    justify-content: space-between;
}
.box-button span {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}
.box-button:not(.selected) {
    cursor: pointer;
    text-align: center;
}
.box-button:not(.toggle):has(input:not(:placeholder-shown)) span.label,
.box-button.selected span.label {
    display: none;
}
.box-button:not(.selected):not(:has(input:not(:placeholder-shown))) :not(span.label) {
    display: none;
}
#cache-box {
    text-align: center;
}
#standings-settings {
    cursor: pointer;
}
.delete-tournament {
    cursor: pointer;
}
#copy-div {
    position: absolute;
    font-size: 1em;
    margin-top: 1em;
}
#copy-div span {
    cursor: pointer;
    text-decoration: underline;
}
a.matchplay-link {
    margin-left: 0.2em;
    vertical-align: middle;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='800px' height='800px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><g id='Interface / External_Link'><path stroke='black' stroke-width='2' stroke-linecap='round' fill='none' stroke-linejoin='round' id='Vector' d='M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11'/></g></svg>");
    background-size: contain;
    background-repeat: no-repeat;
}
.occurrences {
    font-size: 2em;
}
@media (prefers-color-scheme: dark) {
    a.matchplay-link {
        background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='800px' height='800px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><g id='Interface / External_Link'><path stroke='white' stroke-width='2' stroke-linecap='round' fill='none' stroke-linejoin='round' id='Vector' d='M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11'/></g></svg>");
    }
}
