html {
    --text: #fff;
    --page-background: #000;
    --background: #222;
    --border: #555;
    --won-background: #040;
    --won-border: #afa;
    --lost-background: #400;
    --lost-border: #faa;
    --active-color: #08f;
}
@media (prefers-color-scheme: light) {
    html {
        --text: #000;
        --page-background: #fff;
        --background: #ddd;
        --border: #aaa;
        --won-background: #bfb;
        --won-border: #050;
        --lost-background: #fbb;
        --lost-border: #500;
        --active-color: #08f;
    }
}

.boxgroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 50px;
    z-index: 0;
    position: relative;
}
.boxgroup.many {
    max-height: 300px;
    overflow-y: hidden;
}
.boxgroup.many+div.expander {
    margin-top: -50px;
    height: 50px;
    background: linear-gradient(transparent, rebeccapurple);
    z-index: 1;
    position: relative;
    cursor: pointer;
}
.boxgroup:not(.expanded)+div.expander {
    display: none;
}
.boxgroup::after {
    content: "";
    height: 0;
    visibility: hidden;
}
.boxgroup::after,
.box {
    border: 1px solid var(--border);
    background: var(--background);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    min-width: 20em;
    flex-basis: 20em;
    display: inline-block;
    flex-grow: 1;
}
.box.active {
    outline: 4px solid var(--active-color);
}
.box.won {
    background: var(--won-background);
    border-color: var(--won-border);
}
.box.lost {
    background: var(--lost-background);
    border-color: var(--won-background);
}
#token-entry {
    display: none;
}
#log pre {
    background: var(--background);
    padding: 2px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid var(--border);
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 40em;
}
.windowerror {
    background: rgb(255, 119, 119);
}
.spacer {
    flex-grow: 1;
}
html {
    scroll-behavior: smooth;
}